@model Dictionary<string,object>
@{
    var idTitle = Model.ContainsKey("title-id") ? (string)Model["title-id"] : "";
}
<div class="iq-card-header d-flex justify-content-between align-items-center position-relative">
    <div class="iq-header-title">
        <div class="text-body text-center">
            <h4 class="card-title mb-0">
                <span class="avatar-30 rounded-circle bg-primary d-inline-block mr-2"><i class="@Html.Raw(Model["icon"])"></i></span>
                @if(string.IsNullOrEmpty(idTitle))
                {
                    @Html.Raw(Model["title"])

                }else {
                    <span id="@idTitle">
                        @Html.Raw(Model["title"])
                    </span>
                }
            </h4>
        </div>
    </div>
    @if (Model.ContainsKey("url_right_button"))
    {
        <div class="iq-card-header-toolbar d-flex align-items-center">
            <a href="@Html.Raw(Model["url_right_button"])" class="btn btn-sm btn-primary view-more">@Html.Raw(Model["text_right_button"])</a>
        </div>
    }
</div>